body {
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

nav img.brand-logo {
  width: 130px;
  margin: 10px auto !important;
  text-align: center; }

#hero {
  padding-top: 20px;
  margin: 0 auto;
  overflow-x: hidden; }
  #hero a {
    text-decoration: none;
    transition: .4s;
    padding: 10px 0;
    width: 250px; }
  #hero a:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  #hero a,
  #hero h1 {
    text-transform: uppercase; }
  #hero h1 {
    width: 350px;
    height: auto;
    font-size: 65px;
    line-height: 1.25;
    font-weight: bold;
    font-weight: 600;
    letter-spacing: -2px;
    margin-top: 40px;
    margin-bottom: 0;
    color: #a6a6a6; }
  #hero a {
    margin-top: 40px;
    display: inline-block;
    background: black;
    color: white;
    font-weight: 500;
    font-size: 30px;
    padding: 20px 40px;
    margin-bottom: 90px;
    text-align: center; }
  #hero .hero-img-holder img {
    width: 560px;
    margin-top: -20px; }
  #hero .item {
    padding: 10px 0;
    position: relative; }
    #hero .item a {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: 20%;
      min-width: 280px; }
    #hero .item img {
      width: 100%; }

#three-row {
  background: white;
  padding: 120px 0; }
  #three-row img {
    opacity: .5; }

#value-props {
  max-height: 800px;
  overflow: hidden;
  padding-bottom: 50px; }
  #value-props .container-fluid {
    max-width: 1300px; }
  #value-props .left-section {
    position: relative;
    padding: 0; }
    #value-props .left-section h2 {
      position: absolute;
      left: 30px;
      text-transform: uppercase;
      color: white;
      font-size: 35px;
      width: 200px; }
  #value-props .right-section {
    padding: 0; }
    #value-props .right-section h2 {
      position: absolute;
      color: #fff;
      bottom: 20px;
      font-size: 60px;
      font-weight: bold; }
  #value-props .col-sm-4,
  #value-props .col-sm-8 {
    padding: 30px 0; }
  #value-props #img-a {
    max-width: 100%;
    padding-left: 0;
    margin-left: 0; }
  #value-props #img-c {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90; }
  #value-props #img-b {
    min-height: 542px;
    max-width: 100%;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center; }

#shop {
  background: #fff;
  min-height: 720px;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden; }
  #shop .product-details-row {
    margin-top: 120px;
    width: 350px;
    z-index: 120;
    background: white;
    border: 1px solid #fff;
    border-radius: 13px; }
    #shop .product-details-row a {
      color: black;
      font-weight: 400;
      letter-spacing: .5px;
      font-size: 20px;
      position: relative;
      text-decoration: none; }
    #shop .product-details-row a.active-tab:before {
      display: block;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0;
      right: 0;
      top: 35px;
      width: 125px;
      height: 2px;
      content: ''; }
    #shop .product-details-row .quantity-header,
    #shop .product-details-row .color-header {
      color: black;
      margin-right: 15px;
      font-size: 20px; }
    #shop .product-details-row .quantity-number-selected {
      font-weight: 500;
      color: black;
      display: inline-block;
      font-size: 22px;
      margin: 0 7px; }
    #shop .product-details-row .quantity-button {
      border: 0;
      color: rgba(0, 0, 0, 0.9);
      font-size: 20px;
      border-radius: 120px;
      width: 35px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.5); }
    #shop .product-details-row .add-to-cart-cta {
      background: black;
      display: block;
      text-align: center;
      padding: 15px 0;
      color: white;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 20px;
      font-size: 25px; }
    #shop .product-details-row ul.select-color-list-2 {
      margin-bottom: -30px;
      bottom: -20px; }
    #shop .product-details-row ul.select-color-list,
    #shop .product-details-row ul.select-color-list-2 {
      display: inline-block;
      list-style-type: none;
      position: absolute;
      left: 18.5%; }
      #shop .product-details-row ul.select-color-list li,
      #shop .product-details-row ul.select-color-list-2 li {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 120px;
        cursor: pointer;
        margin: 5px 1px 0 1px;
        transition: .4s; }
        #shop .product-details-row ul.select-color-list li.cobalt-blue,
        #shop .product-details-row ul.select-color-list-2 li.cobalt-blue {
          background: #4997d2; }
        #shop .product-details-row ul.select-color-list li.midnight-blue,
        #shop .product-details-row ul.select-color-list-2 li.midnight-blue {
          background: #65c0b7; }
        #shop .product-details-row ul.select-color-list li.blue-camo,
        #shop .product-details-row ul.select-color-list-2 li.blue-camo {
          background: #1e3d83; }
        #shop .product-details-row ul.select-color-list li.island-paradise,
        #shop .product-details-row ul.select-color-list-2 li.island-paradise {
          background: #ea6b8c; }
        #shop .product-details-row ul.select-color-list li.seafoam-green,
        #shop .product-details-row ul.select-color-list-2 li.seafoam-green {
          background: #65c0b7; }
        #shop .product-details-row ul.select-color-list li.persian-pink,
        #shop .product-details-row ul.select-color-list-2 li.persian-pink {
          background: #ea6b8c; }
        #shop .product-details-row ul.select-color-list li.barbie-pink,
        #shop .product-details-row ul.select-color-list-2 li.barbie-pink {
          background: #b377b0; }
        #shop .product-details-row ul.select-color-list li.flame-red,
        #shop .product-details-row ul.select-color-list-2 li.flame-red {
          background: #e50011; }
        #shop .product-details-row ul.select-color-list li.lemon-yellow,
        #shop .product-details-row ul.select-color-list-2 li.lemon-yellow {
          background: #fcee00; }
        #shop .product-details-row ul.select-color-list li.marigold-orange,
        #shop .product-details-row ul.select-color-list-2 li.marigold-orange {
          background: #f8bb18; }
        #shop .product-details-row ul.select-color-list li.matte-black,
        #shop .product-details-row ul.select-color-list-2 li.matte-black {
          background: #3c3a3b; }
        #shop .product-details-row ul.select-color-list li.pale-dogwood,
        #shop .product-details-row ul.select-color-list-2 li.pale-dogwood {
          background: #ebd5e5; }
  #shop .ion-ios-arrow-left {
    left: 10%; }
  #shop .ion-ios-arrow-right {
    right: 10%; }
  #shop .ion-ios-arrow-left,
  #shop .ion-ios-arrow-right {
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    color: white;
    z-index: 200; }
  #shop h2 {
    color: black; }
  #shop h6 {
    font-weight: 300;
    opacity: .8;
    font-size: 25px;
    color: black;
    margin-bottom: 35px; }
  #shop .carousel-inner {
    z-index: 20; }
  #shop .item {
    margin-top: 10px; }
  #shop .item.active {
    z-index: 10;
    position: relative;
    margin-top: 60px; }
    #shop .item.active img {
      z-index: 230; }
  #shop #product-views-carousel {
    height: auto;
    bottom: 0;
    z-index: 10;
    height: 100%;
    width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    left: 80px;
    right: 0;
    text-align: center; }
    #shop #product-views-carousel .carousel-inner {
      position: relative; }
      #shop #product-views-carousel .carousel-inner .item.active img {
        margin-top: -80px; }
    #shop #product-views-carousel .carousel-controller-row {
      background: red;
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 120px;
      z-index: 20; }
    #shop #product-views-carousel .carousel-indicators {
      z-index: 30; }
  #shop .separator {
    display: block;
    height: 1px;
    width: 90%;
    margin: 20px auto;
    background: #ccc;
    opacity: 1; }

footer#footer {
  background: #fff;
  padding: 40px 0 40px 0;
  color: #353535;
  opacity: .9; }
  footer#footer p:first-child {
    font-weight: 500;
    font-size: 18px; }
  footer#footer p.copyright {
    font-size: 13px; }
  footer#footer a {
    display: block;
    margin: 10px 0; }
  footer#footer i {
    font-size: 20px;
    display: inline-block;
    padding: 0 10px; }

@media (max-width: 1023px) {
  body {
    overflow-x: hidden; }
    body #product-views-carousel {
      width: 800px; }
    body #shop .item.active,
    body #shop .item {
      margin-top: 20px; } }
@media (max-width: 1023px) and (min-width: 769px) {
  body #product-views-carousel {
    position: relative !important;
    margin: 0 auto !important;
    left: 0 !important; } }
@media (max-width: 767px) {
  #hero {
    padding-top: 20px; }
    #hero h1 {
      margin: 0 auto;
      margin-top: 30px;
      font-size: 10vw;
      max-width: 90%; }
    #hero a {
      text-align: center;
      display: block;
      max-width: 350px;
      margin: 30px auto 90px auto; }
    #hero .hero-img-holder img {
      width: 100% !important; }
    #hero .item a {
      bottom: 13%;
      font-size: 20px;
      min-width: 80%;
      padding: 15px 10px; }

  #shop #product-views-carousel {
    position: relative;
    width: 70%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0; }
  #shop .product-details-row {
    margin: 0 auto; }
  #shop .carousel-controller-row,
  #shop .carousel-indicators {
    display: none; } }
body#shop-body.cobalt-blue li#cobalt-blue {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.midnight-blue li#midnight-blue {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.blue-camo li#blue-camo {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.island-paradise li#island-paradise {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.seafoam-green li#seafoam-green {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.persian-pink li#persian-pink {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.barbie-pink li#barbie-pink {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.flame-red li#flame-red {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.lemon-yellow li#lemon-yellow {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.marigold-orange li#marigold-orange {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.matte-black li#matte-black {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

body#shop-body.pale-dogwood li#pale-dogwood {
  transform: scale(1.2);
  border: 1.5px solid rgba(0, 0, 0, 0.7); }

/*# sourceMappingURL=styles.css.map */
